In [1]:
import pandas as pd

In [2]:
ball_data = pd.read_csv('IPL_Ball_by_Ball_2008_2022.csv')
new_ball_data = ball_data[ball_data['ID'] > ball_data['ID'].mean()]

In [3]:
player_list1 = ['Ishan Kishan', 'RG Sharma', 'SA Yadav', 'Tilak Varma', 'TH David', 'CJ Green', 'HR Shokeen', 'JC Archer', 'PP Chawla','JP Behrendorff','RP Meredith']
player_list2 = ['WP Saha', 'Shubman Gill', 'HH Pandya', 'V Shankar', 'DA Miller', 'R Tewatia', 'Rashid Khan', 'MM Sharma', 'Mohammed Shami']

In [4]:
record = pd.DataFrame()

for i in range(len(player_list1)):
    for j in range(len(player_list2)):
        for index, row in new_ball_data[(new_ball_data['batter'] == player_list1[i]) & (new_ball_data['bowler'] == player_list2[j])].iterrows():
            record = pd.concat([record, row.to_frame().T], axis=0, ignore_index=True)

In [5]:

for a in range(len(player_list2)):
    for b in range(len(player_list1)):
        for index, row in new_ball_data[(new_ball_data['batter'] == player_list2[a]) & (new_ball_data['bowler'] == player_list1[b])].iterrows():
            record = pd.concat([record, row.to_frame().T], axis=0, ignore_index=True)

In [6]:
top_batsman = record.groupby('batter')['batsman_run'].sum()[record["batter"].unique()].sort_values(ascending=False)
top_batsman

batter
Ishan Kishan    168
SA Yadav        114
HH Pandya        95
RG Sharma        87
WP Saha          40
V Shankar        40
TH David         29
DA Miller        27
JC Archer        15
Rashid Khan      12
Shubman Gill     11
PP Chawla         9
Tilak Varma       6
R Tewatia         4
Name: batsman_run, dtype: object

In [7]:
top_bowler = record.groupby('bowler')['isWicketDelivery'].sum()[record["bowler"].unique()].sort_values(ascending=False)
top_bowler

bowler
Rashid Khan       5
Mohammed Shami    5
JC Archer         5
R Tewatia         3
PP Chawla         3
V Shankar         2
RP Meredith       2
HH Pandya         1
MM Sharma         0
CJ Green          0
JP Behrendorff    0
Name: isWicketDelivery, dtype: object

In [8]:
top_players = pd.concat([top_batsman, top_bowler], axis=1, ignore_index=True)
top_players

                  0    1
Ishan Kishan    168  NaN
SA Yadav        114  NaN
HH Pandya        95    1
RG Sharma        87  NaN
WP Saha          40  NaN
V Shankar        40    2
TH David         29  NaN
DA Miller        27  NaN
JC Archer        15    5
Rashid Khan      12    5
Shubman Gill     11  NaN
PP Chawla         9    3
Tilak Varma       6  NaN
R Tewatia         4    3
Mohammed Shami  NaN    5
RP Meredith     NaN    2
MM Sharma       NaN    0
CJ Green        NaN    0
JP Behrendorff  NaN    0

In [9]:
# Fantasy Points

Batsman_points = {'Run':1, 'bFour':1, 'bSix':2, '30Runs':4,
        'Half_century':8, 'Century':16, 'Duck':-2, '170sr':6,
                 '150sr':4, '130sr':2, '70sr':-2, '60sr':-4, '50sr':-6}

Bowling_points = {'Wicket':25, 'LBW_Bowled':8, '3W':4, '4W':8, 
                  '5W':16, 'Maiden':12, '5rpo':6, '6rpo':4, '7rpo':2, '10rpo':-2,
                 '11rpo':-4, '12rpo':-6}

Fielding_points = {'Catch':8, '3Cath':4, 'Stumping':12, 'RunOutD':12,
                  'RunOutInd':6}